*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-weight: 400;
}

html,
body,
#root {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.btn {
  align-self: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: white;
}

.menu-btn {
  padding: 10px 12px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.menu-btn:hover {
  background-color: rgba(250, 250, 250, 0.1);
}

.avatar-container {
  display: flexbox;
}

.avatar {
  width: 40px;
  align-self: flex-start;
  transition: filter 0.2s ease;
}

.avatar:hover {
  filter: brightness(70%);
}

.logo-container {
  display: flex;
  justify-content: center;
}

#logo {
  width: 25px;
}

main {
  flex: 1;
}

.feed-type-tablist {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
}

.tab-btn {
  flex: 1;
  transition: background-color 0.2s ease;
  color: #71767b;
  display: flex;
  justify-content: center;
}

.tab-btn:hover {
  background-color: rgba(250, 250, 250, 0.1);
}

.tab-text-container {
  padding: 10px 0;
}

.active-tab {
  font-weight: bold;
  color: white;
  border-bottom: 2px solid #1d9bf0;
}

.post-section {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.img-post {
  width: 90%;
}

.post-text-area {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  flex: 1;
}

.text-area {
  resize: none;
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
}

.text-area:focus {
  outline: none;
  border-bottom: 1px solid gray;
}

.post-btn {
  align-self: flex-end;
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: #3e4144;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}

.active {
  background-color: white;
  cursor: pointer;
}

footer {
  padding: 10px;
  border-top: 1px solid gray;
}

.main-nav {
  display: flex;
  justify-content: space-around;
}

.nav-btn {
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.2s ease;
}

.nav-btn:hover {
  background-color: rgba(250, 250, 250, 0.1);
}

.feed-section {
  padding: 10px;
}

.post {
  display: flex;
}

.post-content {
  padding-left: 10px;
  flex: 1;
  text-align: start;
}

span {
  color: gray;
}

.content {
  margin: 5px 0 15px 0;
}

.user-info {
  margin: 0;
}

.post-interactions {
  display: flex;
  margin-top: 10px;
  gap: 80px;
}

.like:hover {
  color: #f91880;
}

.reply:hover {
  color: #1d9bf0;
}

.repost:hover {
  color: #00ab7c;
}
